.ipynb_checkpoints/
.vscode/
.vs/
node_modules/
__pycache__/
EDI-Shopify/
TY-Guardian-Stuff/
*.zip
*.pdf
!TY_25_tut3_Block_Diagram.pdf
!60_B_Assignment_1_DAA.pdf
!60_B_Assignment_2_DAA.pdf
!60_B_Assignment_3_DAA.pdf
!60_B_Assignment_4_DAA.pdf
!60_B_Assignment_5_DAA.pdf
!60_B_Assignment_6_DAA.pdf
!60_B_Assignment_7_DAA.pdf
!60_B_Assignment_8_DAA.pdf
!60_B_Assignment_9_DAA.pdf
*.pptx
*.txt
*.env
*.exe
*.o