body {
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    margin: 4px;
    margin-top: 20px;
    padding: 4px;
    justify-content: space-between;
    flex-wrap: no-wrap;
    border: 4px solid black;
    margin-top: 10px;
    background-color: rgb(96, 96, 228);
    border-radius: 3em;
}



.myimg {
    margin-top: 10px;
    height: 250px;
    width: 250px;
    border: 4px solid black;
    border-radius: 2em;
}

.info {
    background-color: rgb(186, 186, 199);
    border: 4px solid black;
    padding: 10px;
    border-radius: 3em;
    flex-basis: 100%;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

.header {
    margin-top: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 4px;
    border-radius: 3em;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}